 {% extends 'base.html' %} {% import 'macros.html' as macro %}
<!-- < Content block -->
{%block content%}
<div class="jumbotron text-center" style="background-color:pink; color: rgb(17, 16, 16); margin: 10px -100px 30px -100px;">
    <h1>Grab the chance Tell us about yourself</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well well-lg">
                <h3 style="color: #372e5f;" class="text-center">business Pitches</h3>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"><a href="{{url_for('main.business')}}" class="btn -center" style="background-color:blueviolet; color: #fff;">View
                            Pitches</a></div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well well-lg">
                <h3 style="color: #372e5f;" class="text-center">general Pitches</h3>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"><a href="{{url_for('main.general')}}" class="btn -center" style="background-color: rgb(85, 163, 236); color: #fff;">View
                            Pitches</a></div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>

    {%endblock%}