{% macro displayPitchs(pitches_list)%} {%for pitch in pitches_list%}
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
    <div class="well well-lg">

        <p>{{pitch.pitch| truncate(100)}}</p>
        <p>Written by: {{pitch.user.username}} <a href="/pitch/{{pitch.id}}" class="btn btn-primary pull-right">Enter your pitch</a>
        </p>
    </div>
</div>
{%endfor%} {%endmacro%} {%macro displayComments(comment_list)%} {%for comment in comment_list%}
<div class="col-md-12">
    <h5>{{comment.user.username}}</h5>
    <p>{{comment.comment}}</p>
</div>
{%endfor%} {%endmacro%}